body{
    background-color: aliceblue;
}
h1{
    padding: 10px;
    margin: 1%;
    background-color: aqua;
    font-size: 50px;
    border: 10px;
    border-color: black;
    border-collapse: collapse;

}
.mark{
    align-content: center;
}
input {
    padding: 5px;
}